<h1> Showing One Person </h1>
<h3><%= @person.first_name %>
<%= @person.last_name %></h3>
<p>
  <%= @person.age %>
  <%= @person.hair_color %>
  <%= @person.eye_color %>
  <%= @person.gender %>
  <%= @person.alive %>
</p>
<%= link_to 'Back', people_path %>

